<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018644319182-k751v6pslbk7nqusq1ump9d9c7f6rj2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018644319182-k751v6pslbk7nqusq1ump9d9c7f6rj2o</string>
	<key>API_KEY</key>
	<string>AIzaSyCbEJ23IaSfcpj5Ac79U-rQCuE9pz1Pag4</string>
	<key>GCM_SENDER_ID</key>
	<string>1018644319182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAssessment</string>
	<key>PROJECT_ID</key>
	<string>flutter-assessment-71e0d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-assessment-71e0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018644319182:ios:b10d6fe1a37b97a14e399f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-assessment-71e0d.firebaseio.com</string>
</dict>
</plist>